@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primarydark: #030303;
  --secondarydark: #E3E2DC;
}

::-webkit-scrollbar {
  @apply hidden;
}

h1 {
  font-family: var(--abyss);
  @apply text-2xl
}

h2 {
  @apply text-xl
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.glow {
box-shadow: 120px 80px 40px 20px #fff;
}

.deleteButton:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


